.video-container {
    position: relative;
    width: 720px;
    height: 720px;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
}

.overlay-container {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #4dc0bb;
    padding: 10px 20px;
    border: 2px solid #4dc0bb;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
}

.overlay-button.hidden {
    display: none;
}

.clickable {
    cursor: pointer;
}

.caption-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    font-family: 'Archivo', sans-serif;
    text-align: center;
    max-width: 80%;
    white-space: pre-wrap;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.caption-container:hover {
    opacity: 1;
}

.logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-image: url('icon1.png');
    background-size: cover;
    cursor: pointer;
}