.video-container {
    position: relative;
    width: 600px;
    height: 600px;
    overflow: hidden;
}

.video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-wrapper iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Maintain cover fit */
}

.overlay-container {
    position: absolute;
    bottom: 50px;  /* Position the buttons above the bottom of the video */
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    display: flex;
    flex-direction: column;
}

.overlay-button {
    pointer-events: auto;
    padding: 10px 20px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s, color 0.3s;
}

.overlay-button:hover {
    background-color: #e7e7e7;
    color: #333;
}

.loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    visibility: visible; /* Ensure visibility */
}

.loading-logo {
    width: 50px;
    height: 50px;
    background-image: url('logo.png'); /* Using logo.png for loading animation */
    background-size: cover;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 50px;
    background-image: url('logo.png');
    background-size: cover;
}

.progress-bar {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 5px;
    background: #fff;
}
